    <nav class="navbar navbar-expand-lg navbar-light "style="background-color: #FF9800">
      <div class="container-fluid">
        <!-- <a class="navbar-brand"> Recipe Book</a>
        <div class="navbar-header" >
            <a class="navbar-brand" routerLink="/recipes"> Recipe </a>
            <a class="navbar-brand" routerLink="/shopping-list"> Shopping List </a>
        </div> -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
           <a class="navbar-brand"> Recipe Book</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="navbar-brand" routerLink="/recipes"> Recipe </a>
              </li>
              <li class="nav-item">
                <a class="navbar-brand" routerLink="/shopping-list"> Shopping List </a>
              </li>
          </ul>
      </div>
        <ul class="nav navbar-nav navbar-right">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-secondary dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>Manage</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button ngbDropdownItem>Save Data</button>
                <button ngbDropdownItem>Fetch Data</button>
              </div>
            </div>
        </ul>
      </div>
    </nav>

