div.background-image{
    background-image: url('../assets/img/bg-img.jpg');
    height: 100vh;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden;
    -ms-overflow-style: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
    background-attachment: fixed;
}
